.navbar {
  background: #0059b2;
  color: white;
  padding: 18px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #002a5c;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-info {
  margin-bottom: 10px;
}

.footer-bottom {
  font-size: 0.9rem;
  color: #ccc;
}
